h1 {
    color:#c00;
    font-family:sans-serif;
    font-size:2em;
    margin-bottom:0;
  }
  
table {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 8px;
        text-align: center;
	    vertical-align: middle;
}