


h1 {
    color:rgba(0, 0, 0, 0.514);
    font-family:sans-serif;
    font-size:2em;
    margin-bottom:0;
    text-align: center;
	vertical-align: middle;
  }
  
table {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 8px;
        text-align: center;
	    vertical-align: middle;
        width: 100%;
}